.mainDiv {
  max-width: 420px;
  margin: 60px auto;
  background: #ffffff;
  padding: 30px 40px;
  border-radius: 20px;
  box-shadow: 8px 8px 0px #222;
  font-family: 'Comic Sans MS', 'Segoe UI', sans-serif;
  border: 4px solid #222;
  color: #333;
  transition: transform 0.2s ease;
}

.title {
  text-align: center;
  margin-bottom: 24px;
  font-size: 26px;
  color: #000000;
  text-shadow: 1px 1px #181818;
}

.form{
  margin-right: 28px;
}

.form label {
  display: block;
  font-weight: bold;
  margin-bottom: 6px;
  margin-top: 14px;
  color: #222;
}

.form input[type="text"] {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 3px solid #333;
  border-radius: 12px;
  background: #fff;
  margin-bottom: 12px;
  box-shadow: inset 2px 2px 0px #ccc;
  transition: all 0.2s ease;
}

.form input[type="text"]:focus {
  border-color: #000000;
  color: white;
  font-family: sans-serif;
  background-color: #000000;
  outline: none;
}

.submitButton {
  margin-top: 20px;
  margin-left: 13px;
  width: 100%;
  padding: 14px;
  background-color: #00ff15;
  color: #222;
  border: 3px solid #222;
  border-radius: 16px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 4px 4px 0px #222;
  transition: all 0.2s ease;
}

.submitButton:hover {
  background-color: #000000;
  color: white;
  box-shadow: 2px 2px 0px #222;
  transform: translate(2px, 2px);
}
